body{
<<<<<<< HEAD
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: chocolate;
    padding: 15px;
    color: white;
=======
    background-color: #aaaaaa;
}
#body{
    text-align: center;
    line-height: 100vh;
>>>>>>> development
}